*{
	font-family: "arial";
	font-size:12px;
}

.row{
	margin-bottom:1em;
}

input[type=radio]{
	margin-right:1em;
}

.sample{
	font-size:0;
	cursor: pointer;
	margin-right:12px;
}

.sample:hover{
	background:#ccc;
}


.tocopy{
	display:none;
}

input[type="radio"]{
	position:relative;
	top:.15em;
}

.row{
	display:flex;
}

.section input{
	width:10em;
}

.section{
	margin-right:1em;
}

button, select{
	cursor:pointer;
}